@import "tailwindcss";

:root { 
    --db-caadi: #1F313F; /* CAADI Dark Blue */
}

html {
    font-family: 'Atkinson Hyperlegible', sans-serif; /* CAADI Font */
  }

body {
  color: var(--db-caadi);
  font-size: 18px;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.card-style { /* Card styles (index,menu) */
  color: var(--db-caadi);
  box-shadow: 0 0 0 0.3px var(--db-caadi), 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.main-button{
  width: 120px;
  height: 30px;
  color: rgb(238, 238, 238);
  background-color: rgba(31, 49, 63);
  border-radius: 20px;
  font-size: 13px ;
}

.main-link{
  width: 100px;
  height: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(16, 124, 4);
  border-radius: 20px;
  font-size: 10px ;
  text-align: center;
  cursor: pointer;
}
