@import "tailwindcss";

:root { 
    --db-caadi: #1F313F; /* CAADI Dark Blue */
}

html {
    font-family: 'Atkinson Hyperlegible', sans-serif; /* CAADI Font */
  }

body {
  color: var(--db-caadi);
  font-size: 18px;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.card-style { /* Card styles (index,menu) */
  color: var(--db-caadi);
  box-shadow: 0 0 0 0.3px var(--db-caadi), 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
