@import "tailwindcss";

:root { 
    --db-caadi: #1F313F; /* CAADI Dark Blue */
}

html {
    font-family: 'Atkinson Hyperlegible', sans-serif; /* CAADI Font */
  }

body {
  color: var(--db-caadi);
  font-size: 18px;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.main-button{
  cursor: pointer;
  padding: 0.5em;
  color: rgb(238, 238, 238);
  background-color: var(--db-caadi);
  border-radius: 50px;
}

.main-link{
  width: 100px;
  height: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(16, 124, 4);
  border-radius: 20px;
  font-size: 10px ;
  text-align: center;
  cursor: pointer;
}

