@import "tailwindcss";

:root { 
    --db-caadi: #1F313F; /* CAADI Dark Blue */
}

html {
    font-family: 'Atkinson Hyperlegible', sans-serif; /* CAADI Font */
  }

body {
  color: var(--db-caadi);
  background-color: #FAFAFA;
  font-size: 18px;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.main-button, .main-button-secondary{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    color: white;
    cursor: pointer;
    border-radius: 50px;
    padding: 10px 45px;
}

.main-button{
    background-color: rgba(31, 49, 63);
    padding: 10px 45px;
}

.main-button-secondary{
    background-color: rgba(107, 114, 128) !important;
}

.back-button{
    padding: 10px 20px !important;
}

.main-link{
  width: 100px;
  height: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(16, 124, 4);
  border-radius: 20px;
  font-size: 10px ;
  text-align: center;
  cursor: pointer;
}

